services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 20
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      postgres:
        condition: service_healthy

  api:
    build:
      context: ./backend
      dockerfile: Order.API/Dockerfile
    platform: linux/amd64
    ports:
      - "5108:5108"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      ServiceBus__ConnectionString: ${SERVICEBUS_CONNECTION_STRING}
      ServiceBus__QueueName: ${SERVICEBUS_QUEUE_NAME}
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:5108/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10

  worker:
    build:
      context: ./backend
      dockerfile: Order.Worker/Dockerfile
    environment:
      DOTNET_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      ServiceBus__ConnectionString: ${SERVICEBUS_CONNECTION_STRING}
      ServiceBus__QueueName: ${SERVICEBUS_QUEUE_NAME}
    depends_on:
      postgres:
        condition: service_healthy
      api:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "ps aux | grep -q '[O]rder.Worker'"]
      interval: 15s
      timeout: 5s
      retries: 10

volumes:
  pgdata:
